/* testing */
.icon {
  vertical-align: middle;

  //&-header_turquoise {
  //  width: 22px;
  //  height: 22px;
  //  color: $primary-colors-turquoise;
  //  margin-right: .25rem;
  //  vertical-align: text-top;
  //}

  &-menu_base {
    width: 28px;
    height: 28px;
    background-color: $primary-colors__orange-back;
    border-radius: 1rem;
    margin-right: 1rem;
    color: $primary-colors__orange;
    filter: drop-shadow(.7px .7px .7px rgba(255, 124, 6, 0.5));
  }

  &-base {
    width: 50px;
    height: 50px;
    background-color: $primary-colors__orange-back;
    border-radius: 1rem;
    margin-right: 1rem;
    color: $primary-colors__orange;
    filter: drop-shadow(.7px .7px .7px rgba(255, 124, 6, 0.5));
  }

  &-page-setting {
    width: 36px;
    height: 36px;
    padding: .325rem;
    margin-right: 1rem;
    color: $primary-colors__orange;
    background-color: $primary-colors__orange-back;
    border-radius: $border-radius__min;
    vertical-align: middle;
    box-sizing: border-box;
    filter: drop-shadow(.7px .7px .7px rgba(255, 124, 6, 0.5));

    &_add {
      width: 50px;
      height: 50px;
      padding: .62rem;
      margin-right: .75rem;
      color: $primary-colors__orange;
      background-color: $background-body;
      border-radius: $border-radius__min;
      box-sizing: border-box;
    }
  }

  //&-before_turquoise {
  //  position: absolute;
  //  top: 0;
  //  left: 50%;
  //  transform: translate(-50%, -50%);
  //  width: 4.6rem;
  //  height: 4.6rem;
  //  border-radius: 1rem;
  //  color: $primary-colors-turquoise;
  //}

  &-additional {
    width: 28px;
    height: 28px;
    background-color: $background-body;
    border-radius: 1rem;
    color: $typography-secondary;
    flex: 1 0 auto;

    &_data {
      color: $typography-secondary;
      width: 24px;
      height: 24px;
    }
  }

  &-footer_base {
    width: 50px;
    height: 50px;
    background-color: $background-body;
    border-radius: 1rem;
    color: $primary-colors__orange;
    flex: 0 0 auto;

    @include _767 {
      transform: scale(0.8);
    }
  }

  &-footer_social {
    width: 42px;
    height: 42px;
    border-radius: 1rem * 2;
    color: $background-body;
    background: linear-gradient(180deg, #FBAE54 0%, #FF7C06 100%);
    box-shadow: 0 5px 10px 0 rgba(255, 124, 6, 0.50);

    @include _767 {
      transform: scale(0.9);
    }

    //&_blue {
    //  width: 50px;
    //  height: 50px;
    //  border-radius: 1rem * 2;
    //  color: $primary-colors-turquoise;
    //  background: $primary-colors-turquoise-ligt;
    //  //box-shadow: 0 5px 10px 0 rgba(255, 124, 6, 0.50);
    //}
  }

  &-corr {
    padding: .375rem;
  }
}