// MFA Tab Styles
#llar-setting-page {
	.llar-toggle-switch {
		position: relative;
		display: inline-block;
		width: 50px;
		height: 26px;
		margin-right: 12px;
		vertical-align: middle;

		input {
			opacity: 0;
			width: 0;
			height: 0;

			&:checked + .llar-toggle-slider {
				background-color: $primary-colors__orange;

				&:before {
					transform: translateX(24px);
				}
			}

			&:focus + .llar-toggle-slider {
				box-shadow: 0 0 1px $primary-colors__orange;
			}
		}

		.llar-toggle-slider {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $primary-colors__steel_blue;
			transition: .4s;
			border-radius: 26px;

			&:before {
				position: absolute;
				content: "";
				height: 20px;
				width: 20px;
				left: 3px;
				bottom: 3px;
				background-color: white;
				transition: .4s;
				border-radius: 50%;
			}
		}
	}

	.llar-toggle-label {
		vertical-align: middle;
		font-size: $text-font;
		color: $typography-primary;
	}

	.llar-mfa-description-box {
		background-color: $secondary-colors-light-blue;
		border: 1px solid $border-element__ghostly-white;
		border-radius: $border-radius__normal;
		padding: 16px 20px;
		margin: 20px 0;

		p {
			margin: 0;
			font-size: $text-font;
			line-height: 1.6;
			color: $typography-primary;
		}
	}

	.llar-mfa-roles-list {
		display: flex;
		flex-direction: column;
		gap: 12px;
		margin-top: 12px;
	}

	.llar-mfa-role-item {
		label {
			display: flex;
			align-items: center;
			cursor: pointer;
			font-size: $text-font;
			color: $typography-primary;

			input[type="checkbox"] {
				margin-right: 10px;
			}

			.llar-role-name {
				display: flex;
				align-items: center;
				gap: 8px;
			}

			.llar-role-recommended {
				color: $primary-colors__orange;
				font-size: 13px;
				font-style: italic;
			}
		}
	}
}
