.toplevel_page_limit-login-attempts {
  font-family: $font-primary, $font-secondary;

  .jconfirm {

    .jconfirm-box {
      padding: 0 !important;
      background-color: transparent;

      .jconfirm-content-pane {
        display: block;
        margin-bottom: 0;
        border-radius: $border-radius__normal;
      }

      .jconfirm-closeIcon {
        top: 17px !important;
      }

      .jconfirm-title-c {
        background-color: #fcb40c;
        color: #fff;
        padding: 15px;
        font-size: 16px !important;
        font-weight: bold;
      }

      .jconfirm-buttons {
        padding-right: 15px;
      }

      .llar-onboarding-popup__content {
        min-height: 930px;
        padding: 15px;
        background: url("./images/onboarding-bg-min.webp") no-repeat center top;
        //background-size: 100%;
        background-size: cover;
        border-radius: $border-radius__normal;

        .logo {
          width: 90px;
          margin: 100px auto 50px;

          img {
            background: $background-body__transparent;
            border-radius: $border-radius__min;
            padding: 20px;
          }
        }

        .llar-onboarding__line {
          position: relative;
          height: 2px;
          width: 50%;
          margin: 10px auto 60px;
          background-color: $primary-colors__steel_blue;

          .point__block {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            left: 0;
            top: -30px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: transparent;

            .point {
              position: absolute;
              top: 22px;
              width: 18px;
              height: 18px;
              border-radius: 50%;
              background-color: $primary-colors__steel_blue;
            }

            .description {
              position: absolute;
              top: 60px;
              font-size: 16px;
              color: $typography-secondary;
              width: max-content;
            }

            &.active {
              position: absolute;
              background-color: $primary-colors__turquoise_semi_back;

              .description {
                color: $typography-primary;
              }
            }

            &.visited {
              .point {
                background-color: $primary-colors__turquoise;
              }
            }

            &[data-step="1"] {
              left: 0;
              transform: translateX(-50%);
            }

            &[data-step="2"] {
              left: 100% / 3 * 1;
              transform: translateX(-50%);
            }

            &[data-step="3"] {
              left: 100% / 3 * 2;
              transform: translateX(-50%);
            }

            &[data-step="4"] {
              left: 100%;
              transform: translateX(-50%);
            }
          }
        }

        .title {
          font-size: 32px;
          font-weight: 500;
          color: $primary-colors__orange;
          text-align: center;
          padding-top: 40px;

          img {
            width: 36px;
            vertical-align: text-top;
          }
        }

        .card {
          min-width: 768px;
          text-align: center;
          margin-top: 37px;
          padding: 23px 63px 60px;
          border: unset;
          background-color: $background-body;
          border-radius: $border-radius;
          box-shadow: 2px 2px 9px 0 $box-shadow__light-transparent-gray;

          .explanations {
            font-size: 14px;
            color: $typography-secondary;
            margin-top: 15px;
            padding: 0 35px;
          }

          .button_block {
            @extend .button_block;
          }

          .llar-upgrade-subscribe_notification {
            display: none;
            color: $typography-additional;
            font-size: 16px;
            margin: 0 auto;
            padding: 9px 70px;
            width: fit-content;
            border-radius: $border-radius__min;
            background-color: white;

            img {
              display: inline-block;
              width: 12.5px;
              margin-right: 2px;
            }
          }
        }

        .button_block {

          button {
            font-size: 18px;
            margin-top: 20px;
            padding: 11px 60px;
            width: 70%;
          }

          &-horizon {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            gap: 10px;

            button {
              font-size: 18px;
              padding: 11px 60px;
            }
          }

          &-single {
            margin-top: 20px;

            button {
              font-size: 18px;
              padding: 11px 60px;
              width: fit-content;
            }
          }
        }

        .field {

          &-wrap {
            margin-top: 23px;
          }

          &-title {
            color: $typography-primary;
            font-size: 20px;
            font-weight: 500;

            &-add {
              color: $typography-secondary;
              font-size: 18px;
              font-weight: 400;
            }
          }

          &-key, &-email {
            display: inline-block;
            font-size: 16px;
            line-height: 1.5;
            margin-top: 11px;
            width: 100%;

            .input_border {
              @extend .llar_input_border;
              min-width: 420px;
              padding: 15px 30px;
            }

            button {
              display: inline-block;
              font-size: 18px;
              padding: 14px 30px;
              margin-left: -25px;

              .dashicons {
                margin-left: 15px;
                line-height: inherit;
              }
            }
          }

          &-error {
            display: none;
            color: red;
            margin-top: 15px;
          }

          &-email {

            .input_border {
              min-width: 100%;
            }
          }

          &-desc {
            color: $typography-secondary;
            font-size: 18px;
            line-height: 1.5;
            text-align: center;
            margin-top: 22px;
            padding: 0 25px;

            &-add {
              @extend .field-desc;
              color: $typography-primary;
            }

            &-additional {
              color: $typography-additional;
              font-size: 16px;
              line-height: 1.5;
              text-align: left;
              margin-top: 12px;
            }
          }

          &-list {
            @extend .llar_list;
            line-height: 1.5;

            .item {
              font-size: 18px;
              color: $typography-secondary;

              &:before {
                color: $color-marker;
              }
            }
          }

          &-video {
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            margin-top: 24px;
            border-radius: $border-radius__normal;

            .video__iframe {
              display: none;
              position: relative;
              padding-bottom: 56.25%;
              height: 0;
              overflow: hidden;
              border-radius: $border-radius__normal;

              &.play {
                display: block;
              }
            }
          }

          &-checkbox {
            display: inline-block;
            color: $typography-secondary;
            font-size: 14px;
            margin-top: 15px;
            text-align: left;

            input {
              margin-right: 16px;
            }
          }

          &-image {
            width: 240px;
            margin: 0 auto;
          }
        }

        .security-alerts-options {
          display: flex;

          .info {
            font-size: 16px;
            line-height: 22px;
          }

          .buttons {
            display: flex;
            padding-left: 15px;
            align-items: center;

            span {
              text-transform: uppercase;
              cursor: pointer;
              width: 45px;
              text-align: center;
              vertical-align: middle;
              display: block;
              height: 34px;
              line-height: 34px;

              &.llar-act {
                background-color: #0A75B5;
                color: #fff;
              }

              &:first-child {
                border: 1px solid #ccc;
                border-radius: 4px 0 0 4px;
              }

              &:last-child {
                border: 1px solid #ccc;
                border-radius: 0 4px 4px 0;
                border-left: 0;
              }
            }
          }
        }

        &.llar-app-setup-popup {
          .title {
            font-size: 20px;
            margin-bottom: 10px;
          }
          .desc {
            text-align: center;
            margin-bottom: 20px;
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
            font-size: 16px;
            line-height: 24px;
          }
          .field-wrap {
            display: flex;
            margin-bottom: 40px;

            .field {
              flex: 1;
            }

            .button-col {
              button {
                margin-left: 10px;
                text-transform: uppercase;
                position: relative;
                height: 44px;

                .preloader-wrapper {
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  background-color: rgba(#fff, 0.5);
                  align-items: center;
                  justify-content: center;
                  display: none;
                }

                &.button-disabled {
                  .preloader-wrapper {
                    display: flex;

                    span {
                      visibility: visible;
                    }
                  }
                }
              }
            }
          }
          .divider-line {
            border-top: 1px solid #ccc;
            height: 1px;
            text-align: center;
            margin-bottom: 20px;
            margin-top: 20px;
            position: relative;

            span {
              background-color: #fff;
              display: inline-block;
              top: -10px;
              position: relative;
              padding: 0 10px;
              text-transform: uppercase;
            }
          }
          .bottom-buttons {
            text-align: center;

            .text {
              text-align: center;
              margin-bottom: 20px;
              font-size: 16px;
            }
            .buttons {
              .button {
                font-size: 14px;
                text-transform: uppercase;
                height: 40px;
                margin: 0 5px;
              }
              .button-primary {
                line-height: 40px;
                background-color: #fcb40c;
                border-color: #b07c04;

                span {
                  text-transform: none;
                  display: block;
                  font-size: 12px;
                  line-height: 13px;
                  margin-bottom: 2px;
                }
              }
              .button-secondary {
                line-height: 40px;
              }
              .button-link {
                vertical-align: middle;
                height: 40px;
              }
            }
          }
        }
      }
    }
  }

  input[type="checkbox"] {
    @extend .llar_input_checkbox;
  }
}