#mfa-actions {
    display: none;
    background: #f8f9fa;
    border: 1px solid #ccd0d4;
    padding: 20px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px !important;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#mfa-code {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccd0d4;
    border-radius: 3px;
    text-align: center;
    display: none;
    margin: 10px 0;
}

#send-2fa-code,
#verify-2fa-code {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    transition: background 0.3s;
}

#send-2fa-code {
    background: #007cba;
    color: #fff;
    margin-bottom: 5px;
}

#send-2fa-code:hover {
    background: #005a9e;
}

#verify-2fa-code {
    background: #28a745;
    color: #fff;
    display: none;
}

#verify-2fa-code:hover {
    background: #218838;
}

#mfa-message {
    display: block;
    font-size: 14px;
    margin-top: 10px;
    color: #dc3545;
    padding-top: 50px;
}
